<div class="project_banner" id="beastmade_banner" data-color="white" data-bgcolor="red" data-image="url('../media/beastmade/banner_image.png')">

  <%# PROJECT BANNER HEADER %>
  <div class="project_banner_header">
    <img class="project_banner_header_logo" src="/media/beastmade/banner_logo.png">
    <div class="project_banner_actions">
      <a href=""><div class="project_banner_action">
          <i class="fa fa-instagram fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-facebook fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-link fa-2x"></i>
      </div></a>
    </div>
  </div>

  <%# PROJECT BANNER CONTENT %>
  <div class="project_banner_content">
    <div class="project_banner_content_text">
      <a href="/beastmade">
        <div class="project_banner_content_text_main">
          Beastmade is a product line created to embody and identify the concept of “Fuck Yeah Aesthetics”.
        </div>
        <br>
        <div class="project_banner_content_text_secondary">
          <u>Learn More</u>
        </div>
      </a>
    </div>
  </div> 

  <%# PROJECT BANNER IMAGE %>
  <div class="project_banner_image"></div> 

</div>
