<div class="page" id="beastmade_page" data-color="white" data-bgcolor="red">

  <%# HEAD %>
  <div class="page_title">Beastmade</div>
  <div class="page_summary">
    Beastmade is a product line created to embody and identify the concept of “Fuck Yeah Aesthetics”.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.beastmade.us">www.beastmade.us</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/beastmade/page_image_1.png"/>
      <img class="page_image" src="/media/beastmade/page_image_2.png"/>
      <img class="page_image" src="/media/beastmade/page_image_3.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/beastmade/page_logo.png"/><!--
      --><a href="http://www.beastmade.us" target="_blank"><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">Beastmade</div>
        <div class="date">2014</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        Brand As Lifestyle
      </div>
      <div class="body">
        Brands are inherently about their connotations: a brand implies a lifestyle, and a consumer chooses to purchase a brand as a building block for their own identity.
      </div>
      <br>
      <div class="header">
        Beast Made and Fuck Yeah Aesthetics
      </div>
      <div class="body">
        Beast Made is a brand in its purest state: an amalgamation of products -- irrespective of whose products -- that define an aesthetic.
      </div>
      <div class="body">
        Arguably a continued evolution of what began as a more specific sportswear aesthetic (“Just Do It”), Fuck Yeah Aesthetics represent a cultural inclination towards ironic recklessness. Fuck Yeah Aesthetics imbues mildly inconsequential decisions with a sense of maverick heroism (“pink socks? Fuck Yeah.”). It is indicative of modern-day pop culture hedonism (#yolo), and buoyed along by the most effective bragging paradigms the world has ever known (see: Dan Bilzerian’s Instagram).
      </div>
      <div class="body">
        Branding and identity are analogous and interchangeable concepts. It is entirely reasonable to think of a prevalent social phenomenon as a brand, and vice versa. To create a brand, then, is to make a sociological observation.
      </div>
      <img class="image" src="/media/beastmade/page_description_image_1.png" />
    </div>
  </div>

</div>
