<div class="page" id="bitelabs_page" data-color="white" data-bgcolor="#30a848">

  <%# HEAD %>
  <div class="page_title">Bitelabs</div>
  <div class="page_summary">
    BiteLabs grows meat from celebrity tissue samples and uses it to make artisanal salami.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.bitelabs.org">www.bitelabs.org</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/bitelabs/page_image_1.png"/>
      <img class="page_image" src="/media/bitelabs/page_image_2.png"/>
      <img class="page_image" src="/media/bitelabs/page_image_3.png"/>
      <img class="page_image" src="/media/bitelabs/page_image_4.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/bitelabs/page_logo.png"/><!--
      --><a href="http://www.bitelabs.org" target="_blank"><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">Bitelabs</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        "Bite Labs gained viral-levels of attention for its sheer absurdity" -Animal New York
      </div>
      <div class="body">
        In February of 2014, we launched the Bitelabs campaign - a campaign to test the waters for invitro meat technologies. The idea was to take tissue samples from celebrities and culture their meat. The final product would be salami made from their meat. You would literally be able to taste the flesh of your favourite celebrity.
      </div>
      <div class="body">
        Within a week, the Bitelabs campaign went viral. The site received countless views and was written about in major publications all over the nation. 
      </div>
      <br>
      <div class="header">
        Twitter As Medium
      </div>
      <div class="body">
        One of the defining features of the Bitelabs campaign was to mobilize Twitter. The site encouraged people to Tweet at their favorite celebrities, asking them to become Salami. The Bitelabs campaign also provided four selected celebrities to tweet at: Ellen Degeneres, Kanye West, James Franco and Jennifer Lawrence. Working with professional chefs, we designed a unique flavor profile for each celebrity to help give users a sense of what each celebrity salami might end up tasting like.
      </div>

      <img class="image" src="/media/bitelabs/page_description_image_1.png" />

      <div class="header">
        Bitelabs In Academia
      </div>
      <div class="body">
        Bitelabs has been used in numerous lectures to discuss modern practices of speculative design.
      </div>
      <div class="body">
      In February of 2015, we were invited to Brigham Young University, Utah, to give a lecture in a bio-tech entrepreneurial seminar series to talk about bringing emerging technologies into the media's attention and the power of the speculative image.
      </div>
      <br>
      <iframe class="video" src="https://www.youtube.com/embed/yC0rR3KvUqI" frameborder="0" allowfullscreen></iframe>

      <div class="header">
        <a href='http://newsfeed.time.com/2014/02/28/celebrity-meat-bite-labs-fake/' target='_blank'>Time Magazine</a>, 
        <a href='http://www.latimes.com/food/dailydish/la-dd-bitelabs-make-salami-celebrity-tissue-samples-20140304-story.html' target='_blank'>The LA Times</a>, 
        <a href='http://www.wired.co.uk/news/archive/2014-02/27/celebrity-meat' target='_blank'>Wired</a>, 
        <a href='http://motherboard.vice.com/read/the-guy-who-want-to-sell-you-salami-made-out-of-james-franco-are-100-serious' target='_blank'>Vice Motherboard</a>, 
        <a href='http://www.usatoday.com/story/news/nation-now/2014/02/27/celebrity-salami-bite-labs/5861595/' target='_blank'>USA Today</a>, 
        <a href='http://www.huffingtonpost.com/2014/03/03/celebrity-salami-bitelabs_n_4890762.html' target='_blank'>Huffington Post</a>, 
        <a href='http://www.salon.com/2014/02/28/this_company_wants_to_make_in_vitro_meat_from_celebrities_stem_cells/' target='_blank'>Salon</a>, 
        <a href='http://www.mtv.com/news/1723064/bitelabs-eat-celebrity-meat/' target='_blank'>MTV News</a>, 
        <a href='http://www.cosmopolitan.com/entertainment/celebs/news/a21230/celebrity-meat-company/' target='_blank'>Cosmopolitan</a>, 
        <a href='http://gawker.com/salami-made-from-kanye-west-is-probably-not-the-future-1532593150' target='_blank'>Gawker</a>, 
        <a href='http://www.newstatesman.com/future-proof/2014/02/science-behind-making-your-very-own-james-franco-furter' target='_blank'>New Statesman</a>, 
        <a href='http://gizmodo.com/your-next-artisanal-salami-could-be-part-kanye-1532800282?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+gizmodo%2Ffull+%28Gizmodo%29' target='_blank'>Gizmodo</a>, 
        <a href='http://www.independent.co.uk/news/people/news/jennifer-lawrence-salami-lab-campaigns-to-make-sausage-meat-out-of-actress-body-tissue-9159832.html' target='_blank'>The Independent</a>, 
        <a href='https://news.ycombinator.com/item?id=7301353' target='_blank'>Hacker News</a>, 
        <a href='http://www.bloomberg.com/video/take-a-bite-out-of-an-oscar-winner-FrIlIic8SDO4~f_zBt~Gtw.html' target='_blank'>Bloomberg TV</a>, 
        <a href='http://www.slate.com/blogs/future_tense/2014/02/26/bite_labs_is_probably_a_prank_artisanal_salami_from_celebrity_tissue_samples.html' target='_blank'>Slate Magazine</a>, 
        <a href='http://io9.com/in-a-future-of-lab-grown-food-could-you-eat-meat-made-1532525928' target='_blank'>io9</a>, 
        <a href='http://www.metro.us/news/bitelabs-startup-plans-to-make-celebrity-flavored-meats-with-cell-samples/tmWnbA---49rIrHRPlHn7Q/' target='_blank'>Metro</a>, 
        <a href='http://www.new-harvest.org/2014/02/this-company-wants-to-make-in-vitro-meat-from-celebrities-stem-cells-salon/' target='_blank'>New Harvest</a>, 
        <a href='http://www.cnet.com/news/lab-making-salami-out-of-jennifer-lawrence/' target='_blank'>CNet</a>, 
        <a href='http://kotaku.com/a-possibly-fake-startup-is-proposing-we-eat-the-rich-1530628936' target='_blank'>Kotaku</a>
      </div>
      
    </div>
  </div>

</div>
