<div class="page" id="bitelabs_page" data-color="white" data-bgcolor="#30a848">

  <%# HEAD %>
  <div class="page_title">Bitelabs</div>
  <div class="page_summary">
    BiteLabs grows meat from celebrity tissue samples and uses it to make artisanal salami.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.bitelabs.org">www.bitelabs.org</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/bitelabs/page_image_1.png"/>
      <img class="page_image" src="/media/bitelabs/page_image_2.png"/>
      <img class="page_image" src="/media/bitelabs/page_image_3.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/bitelabs/page_logo.png"/><!--
      --><a href="http://www.bitelabs.org"><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">Bitelabs</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="body">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <img class="image" src="/media/bitelabs/page_description_image_1.png" />
      <div class="header">
        Lorem ipsum dolor sit amet
      </div>
      <div class="body">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

</div>
