<footer>
  <div class="copyright">&#169; 2015  Hello Velocity. All Rights Reserved.</div>
  <div class="social">
    <a href="https://www.facebook.com/hellovelocity" target="_blank">facebook</a> &nbsp | &nbsp
    <a href="https://www.instagram.com/hellovelocity" target="_blank">instagram</a> &nbsp | &nbsp
    <a href="mailto:friend@hellovelocity.com" target="_blank">email</a>
  </div>
</footer>


