<footer>
  <div class="copyright">&#169; 2015  Hello Velocity. All Rights Reserved.</div>
  <div class="social">
    <a href="">facebook</a> &nbsp | &nbsp
    <a href="">instagram</a> &nbsp | &nbsp
    <a href="">email</a>
  </div>
</footer>


