<header>
  <a href="/"><img class="logo" src="/media/hv_image_white.png"/></a>
  <img class="menu" src="/media/menu_icon_white.png"/>
  <div class="banner">
    <a href="/"><div class="banner_text">hellovelocity</div></a>
  </div>
</header>

<div class="load_overlay"></div>
<div class="nav_overlay">
  <div class="nav">
    <div class="option"><a href="/">home</a></div>
    <div class="option"><a href="/about">about us</a></div>
    <div class="option"><a href="mailto:friend@hellovelocity.com" target="_blank">email</a></div>
    <div class="option"><a href="http://www.facebook.com/hellovelocity" target="_blank">facebook</a></div>
    <div class="option"><a href="http://www.instagram.com/hellovelocity" target="_blank">instagram</a></div>
    <div class="option"><a href="http://www.twitter.com/hellovelocity" target="_blank">twitter</a></div>
  </div>
</div>
