<header>
  <a href="/"><div class="logo">hi</div></a>
  <img class="menu" src="/media/menu_icon_black.png"/>
</header>

<div class="about_overlay">
  <div class="about">
    <div class="title">Hello Velocity</div>
    <div class="body">
      <p>... is a digital marketing and branding agency interested in how content spreads in the social age. Hello Velocity was founded by <a href="http://www.instagram.com/hi.js">JS Tan</a>, <a href="http://www.instagram.com/hi.lukas">Lukas Bentel</a> and <a href="http://www.instagram.com/hi.kw">Kevin Wiesner</a>.</p>
      <p>Hello Velocity is open for collaborations! So, if you have an idea, send us an email and let's talk.</p>
    </div>
    <hr>
    <div class="social_container">
      <a class="social" href="https://www.facebook.com/hellovelocity" target="_blank"><div>facebook</div></a>
      <a class="social" href="https://www.instagram.com/hellovelocity" target="_blank"><div>instagram</div></a>
      <a class="social" href="mailto:friend@hellovelocity.com" target="_blank"><div>email</div></a>
    </div>
  </div>
</div>
