
<meta name="google-site-verification" content="0O26dWBD8PmIGe5k2_9dlhkdt2grYKJUsJEjHBMxj8c" />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/fonts/font-awesome-4.3.0/css/font-awesome.min.css' />
<link rel="canonical" href="http://www.hellovelocity.com/">
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<meta property="keywords" content="Yinte Bitelabs McMass Genecoin Pinkhouse Beastmade Speculative Digital Creative Social Hello Velocity"> 

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="//faviconmanifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>Hello Velocity</title>
<meta name="description" content="Hello Velocity is a digital marketing and branding agency interested in how content spreads in the social age.">
<meta property="og:description" content="Hello Velocity is a digital marketing and branding agency interested in how content spreads in the social age.">

<% if( page_url == "/bitelabs" ) { %>
  <meta property="og:title" content="Hello Velocity - Bitelabs">
  <meta property="og:url" content="http://www.hellovelocity.com/bitelabs">
  <meta property="og:image" content="http://www.hellovelocity.com/media/bitelabs/facebook_banner.png">
<% } else if( page_url == "/yinte" ) { %>
  <meta property="og:title" content="Hello Velocity - Yinte">
  <meta property="og:url" content="http://www.hellovelocity.com/yinte">
  <meta property="og:image" content="http://www.hellovelocity.com/media/yinte/facebook_banner.png">
<% } else if( page_url == "/pinkhouse" ) { %>
  <meta property="og:title" content="Hello Velocity - Pinkhouse">
  <meta property="og:url" content="http://www.hellovelocity.com/pinkhouse">
  <meta property="og:image" content="http://www.hellovelocity.com/media/pinkhouse/facebook_banner.png">
<% } else if( page_url == "/mcmass" ) { %>
  <meta property="og:title" content="Hello Velocity - The McMass Project">
  <meta property="og:url" content="http://www.hellovelocity.com/mcmass">
  <meta property="og:image" content="http://www.hellovelocity.com/media/mcmass/facebook_banner.png">
<% } else if( page_url == "/genecoin" ) { %>
  <meta property="og:title" content="Hello Velocity - Genecoin">
  <meta property="og:url" content="http://www.hellovelocity.com/Genecoin">
  <meta property="og:image" content="http://www.hellovelocity.com/media/genecoin/facebook_banner.png">
<% } else if( page_url == "/beastmade" ) { %>
  <meta property="og:title" content="Hello Velocity - Beastmade">
  <meta property="og:url" content="http://www.hellovelocity.com/beastmade">
  <meta property="og:image" content="http://www.hellovelocity.com/media/beastmade/facebook_banner.png">
<% } else { %>
  <meta property="og:title" content="Hello Velocity">
  <meta property="og:url" content="http://www.hellovelocity.com/">
  <meta property="og:image" content="http://www.hellovelocity.com/media/facebook_banner.png">
<% } %>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-57531666-1', 'auto');
 ga('send', 'pageview');
</script>
