<div class="project_banner" id="mcmass_banner" data-color="white" data-bgcolor="red" data-image="url('../media/mcmass/banner_image.png')">

  <%# PROJECT BANNER HEADER %>
  <div class="project_banner_header">
    <img class="project_banner_header_logo" src="/media/mcmass/banner_logo.png">
    <div class="project_banner_actions">
      <a href=""><div class="project_banner_action">
          <i class="fa fa-instagram fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-facebook fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-link fa-2x"></i>
      </div></a>
    </div>
  </div>

  <%# PROJECT BANNER CONTENT %>
  <div class="project_banner_content">
    <div class="project_banner_content_text">
      <div class="project_banner_content_text_main">
        The McMass Project wants to revitalize Churches as centers for cultural engagement by putting a McDonald's franchise in a church.
      </div>
      <br>
      <div class="project_banner_content_text_secondary">
        <a href="/mcmass"><u>Learn More</u></a>
      </div>
    </div>
  </div> 

  <%# PROJECT BANNER IMAGE %>
  <div class="project_banner_image"></div> 

</div>
