<div class="page" id="bitelabs_page" data-color="red" data-bgcolor="#ffd600">

  <%# HEAD %>
  <div class="page_title">The McMass Project</div>
  <div class="page_summary">
    The McMass Project wants to revitalize Churches as centers for cultural engagement by putting a McDonald's franchise in a church.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.mcmass.com">www.mcmass.com</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/mcmass/page_image_1.png"/>
      <img class="page_image" src="/media/mcmass/page_image_2.png"/>
      <img class="page_image" src="/media/mcmass/page_image_3.png"/>
      <img class="page_image" src="/media/mcmass/page_image_4.png"/>
      <img class="page_image" src="/media/mcmass/page_image_5.png"/>
      <img class="page_image" src="/media/mcmass/page_image_6.png"/>
      <img class="page_image" src="/media/mcmass/page_image_7.png"/>
      <img class="page_image" src="/media/mcmass/page_image_8.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/mcmass/page_logo.png"/><!--
      --><a href="http://www.mcmass.com" target="_blank" ><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">The McMass Project</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">

      <div class="header">
        In its quest to raise $1M towards the purchase of a McDonald’s franchise, the McMass Project received attention from Fox News, Church pastors, and Subway executives alike.

      </div>
      <div class="header">
        When the McMass Project became the first google search result for “McDonald’s,” their legal department started to pay attention as well.
      </div>
      <div class="body">
        The McMass Project sought to help churches reverse falling attendance rates, and revitalize their public perception.
      </div>
      <div class="body">
        In order to reintegrate churches within popular culture, The McMass Project campaigned to establish a McDonald’s franchise inside a willing partner church, and ran both a publicity campaign and an Indiegogo fundraiser towards this end. The McMass Project was a criticism of churches as commercial institutions, and poked fun at the idea of solutionism—the veritable worship of ‘design solutions.’ Ultimately, the McMass Project was approached by 6 interested churches, was contacted by Subway, looking to replace McDonald’s as the restaurateur, and raised ~$600 before the crowdfunding campaign was frozen. The McMass Project website received a cease and desist from the McDonald’s Corporation; the censored site is still online in memoriam.
      </div>
      <div class="header">
        Indiegogo and Consumer Realism
      </div>
      <div class="body">
        The McMass Project existed as a crowdfunding campaign; an inherently commercial form. To be true to this, we created an actual campaign on the Indiegogo fundraising platform; had this campaign reached its funding goal, the $1M raised would have gone directly to a church. Because of this, the McMass Project was consumer-real: all of the project content dealing with consumer financial transactions was fully realized, both functional and specific to its platform.
      </div>

      <p class="video_label"><a href="https://vimeo.com/112952031">The McMass Project</a> from <a href="https://vimeo.com/user34552661">McMass Project</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      <iframe class="video" src="https://player.vimeo.com/video/112952031"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

      <div class="header">
        <a href='http://www.foxnews.com/leisure/2014/11/28/businessman-wants-to-build-mcdonalds-in-church/' target='_blank'>Fox News</a>, 
        <a href='http://www.nbcnews.com/business/business-news/mcmass-project-aims-put-mcdonalds-restaurant-church-n255991' target='_blank'>NBC News</a>, 
        <a href='http://www.chicagotribune.com/news/nationworld/la-dd-mcmass-mcdonalds-in-church-20141126-story.html' target='_blank'>The Chicago Tribune</a>, 
        <a href='http://www.latimes.com/food/dailydish/la-dd-mcmass-mcdonalds-in-church-20141126-story.html' target='_blank'>The LA Times</a>, 
        <a href='http://www.washingtontimes.com/news/2014/nov/28/mcdonalds-at-mass-mcmass-pushes-to-build-restauran/' target='_blank'>The Washington Times</a>, 
        <a href='http://animalnewyork.com/2014/mcmass-indiegogo-campaign-isnt-scam-stupid-hackathon-art-project/' target='_blank'>Animal New York</a>, 
        <a href='http://www.businessinsider.com/alabama-church-in-buffalo-wild-wings-2014-12' target='_blank'>Business Insider</a>, 
        <a href='https://www.youtube.com/watch?v=A--4GKsVZow' target='_blank'>The Young Turks</a>, 
        <a href='https://www.youtube.com/watch?v=TQsmoINBSRk' target='_blank'>MSNBC</a>, 
        <a href='http://www.eater.com/2014/11/25/7288723/religious-group-wants-to-open-a-mcdonalds-franchise-inside-a-church' target='_blank'>Eater</a>, 
        <a href='http://www.vocativ.com/culture/society/mcmass-project/' target='_blank'>Vocativ</a>, 
        <a href='http://www.mirror.co.uk/news/weird-news/mcdonalds-open-church-mcmass-attract-4711669' target='_blank'>Mirror</a>, 
        <a href='https://www.reddit.com/r/offbeat/comments/2nnxfs/mcmass_wants_to_put_mcdonalds_in_a_church/' target='_blank'>Reddit</a>, 
        <a href='http://www.entrepreneur.com/article/240358' target='_blank'>Entrepreneur</a>, 
        <a href='http://www.hngn.com/articles/50789/20141125/mcdonalds-in-church-thats-the-goal-of-one-crowdfunding-campaign.html' target='_blank'>Headlines and Global News</a>, 
        <a href='https://www.youtube.com/watch?v=TQsmoINBSRk' target='_blank'>NBC Business</a>, 
        <a href='http://www.christiantoday.com/article/christian.group.fudraising.to.open.mcdonalds.in.a.church/43565.html' target='_blank'>Christian Today</a>, 
        <a href='http://www.dailymail.co.uk/news/article-2853017/Would-like-Happy-Clappy-Meal-Religious-group-unveils-plans-entice-worshippers-opening-McDonald-s-CHURCH.html' target='_blank'>Daily Mail</a>, 
        <a href='https://www.youtube.com/watch?v=hxt243QYkKI' target='_blank'>Fox Business</a>, 
        <a href='http://www.rawstory.com/rs/2014/11/christian-branding-agency-seeks-1-million-for-mcmass-project-to-put-mcdonalds-in-churches/' target='_blank'>Raw Story</a>, 
        <a href='http://www.oregonlive.com/today/index.ssf/2014/11/mcdonalds_and_church_make_for.html' target='_blank'>The Oregonian</a>, 
        <a href='http://national.deseretnews.com/article/2846/do-you-want-faith-with-that-new-crowd-funding-campaign-aims-to-bring-mcdonalds-to-church.html' target='_blank'>Deseret News</a>

      </div>

    </div>
  </div>

</div>
