<div class="page" id="bitelabs_page" data-color="red" data-bgcolor="#ffd600">

  <%# HEAD %>
  <div class="page_title">The McMass Project</div>
  <div class="page_summary">
    The McMass Project wants to revitalize Churches as centers for cultural engagement by putting a McDonald's franchise in a church.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.mcmass.com">www.mcmass.com</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/mcmass/page_image_1.png"/>
      <img class="page_image" src="/media/mcmass/page_image_2.png"/>
      <img class="page_image" src="/media/mcmass/page_image_3.png"/>
      <img class="page_image" src="/media/mcmass/page_image_4.png"/>
      <img class="page_image" src="/media/mcmass/page_image_5.png"/>
      <img class="page_image" src="/media/mcmass/page_image_6.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/mcmass/page_logo.png"/><!--
      --><a href="http://www.mcmass.com" target="_blank" ><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">The McMass Project</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        <a href='http://www.foxnews.com/leisure/2014/11/28/businessman-wants-to-build-mcdonalds-in-church/' target='_blank'>Fox News</a>, 
        <a href='http://www.nbcnews.com/business/business-news/mcmass-project-aims-put-mcdonalds-restaurant-church-n255991' target='_blank'>NBC News</a>, 
        <a href='http://www.chicagotribune.com/news/nationworld/la-dd-mcmass-mcdonalds-in-church-20141126-story.html' target='_blank'>The Chicago Tribune</a>, 
        <a href='http://www.latimes.com/food/dailydish/la-dd-mcmass-mcdonalds-in-church-20141126-story.html' target='_blank'>The LA Times</a>, 
        <a href='http://www.washingtontimes.com/news/2014/nov/28/mcdonalds-at-mass-mcmass-pushes-to-build-restauran/' target='_blank'>The Washington Times</a>, 
        <a href='http://animalnewyork.com/2014/mcmass-indiegogo-campaign-isnt-scam-stupid-hackathon-art-project/' target='_blank'>Animal New York</a>, 
        <a href='http://www.businessinsider.com/alabama-church-in-buffalo-wild-wings-2014-12' target='_blank'>Business Insider</a>, 
        <a href='https://www.youtube.com/watch?v=A--4GKsVZow' target='_blank'>The Young Turks</a>, 
        <a href='https://www.youtube.com/watch?v=TQsmoINBSRk' target='_blank'>MSNBC</a>, 
        <a href='http://www.eater.com/2014/11/25/7288723/religious-group-wants-to-open-a-mcdonalds-franchise-inside-a-church' target='_blank'>Eater</a>, 
        <a href='http://www.vocativ.com/culture/society/mcmass-project/' target='_blank'>Vocativ</a>, 
        <a href='http://www.mirror.co.uk/news/weird-news/mcdonalds-open-church-mcmass-attract-4711669' target='_blank'>Mirror</a>, 
        <a href='https://www.reddit.com/r/offbeat/comments/2nnxfs/mcmass_wants_to_put_mcdonalds_in_a_church/' target='_blank'>Reddit</a>, 
        <a href='http://www.entrepreneur.com/article/240358' target='_blank'>Entrepreneur</a>, 
        <a href='http://www.hngn.com/articles/50789/20141125/mcdonalds-in-church-thats-the-goal-of-one-crowdfunding-campaign.html' target='_blank'>Headlines and Global News</a>, 
        <a href='https://www.youtube.com/watch?v=TQsmoINBSRk' target='_blank'>NBC Business</a>, 
        <a href='http://www.christiantoday.com/article/christian.group.fudraising.to.open.mcdonalds.in.a.church/43565.html' target='_blank'>Christian Today</a>, 
        <a href='http://www.dailymail.co.uk/news/article-2853017/Would-like-Happy-Clappy-Meal-Religious-group-unveils-plans-entice-worshippers-opening-McDonald-s-CHURCH.html' target='_blank'>Daily Mail</a>, 
        <a href='https://www.youtube.com/watch?v=hxt243QYkKI' target='_blank'>Fox Business</a>, 
        <a href='http://www.rawstory.com/rs/2014/11/christian-branding-agency-seeks-1-million-for-mcmass-project-to-put-mcdonalds-in-churches/' target='_blank'>Raw Story</a>, 
        <a href='http://www.oregonlive.com/today/index.ssf/2014/11/mcdonalds_and_church_make_for.html' target='_blank'>The Oregonian</a>, 
        <a href='http://national.deseretnews.com/article/2846/do-you-want-faith-with-that-new-crowd-funding-campaign-aims-to-bring-mcdonalds-to-church.html' target='_blank'>Deseret News</a>

      </div>
      <div class="header">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="body">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <img class="image" src="/media/bitelabs/page_description_image_1.png" />
      <div class="header">
        Lorem ipsum dolor sit amet
      </div>
      <div class="body">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

</div>
