<div class="project_banner" id="pinkhouse_banner" data-color="white" data-bgcolor="#cf1059" data-image="url('../media/pinkhouse/banner_image.png')">

  <%# PROJECT BANNER HEADER %>
  <div class="project_banner_header">
    <img class="project_banner_header_logo" src="/media/pinkhouse/banner_logo.png">
    <div class="project_banner_actions">
      <a href=""><div class="project_banner_action">
          <i class="fa fa-instagram fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-facebook fa-2x"></i>
      </div></a>
      <a href=""><div class="project_banner_action">
          <i class="fa fa-link fa-2x"></i>
      </div></a>
    </div>
  </div>

  <%# PROJECT BANNER CONTENT %>
  <div class="project_banner_content">
    <div class="project_banner_content_text">
      <div class="project_banner_content_text_main">
        Express yourself with our brand of happy. Don’t Be Sad is about being different. Buy your uniqueness here.
      </div>
      <br>
      <div class="project_banner_content_text_secondary">
        <a href="/pinkhouse"><u>Learn More</u></a>
      </div>
    </div>
  </div> 

  <%# PROJECT BANNER IMAGE %>
  <div class="project_banner_image"></div> 

</div>
