<div class="page" id="pinkhouse_page" data-color="white" data-bgcolor="#cf1059">

  <%# HEAD %>
  <div class="page_title">Pinkhouse</div>
  <div class="page_summary">
    Pinkhouse is a design studio and product store. Express yourself with our brand of happy. Buy your uniqueness here.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.pinkhouse.nyc">www.pinkhouse.nyc</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/pinkhouse/page_image_1.png"/>
      <img class="page_image" src="/media/pinkhouse/page_image_2.png"/>
      <img class="page_image" src="/media/pinkhouse/page_image_3.png"/>
      <img class="page_image" src="/media/pinkhouse/page_image_4.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/pinkhouse/page_logo.png"/><!--
      --><a href="http://www.pinkhouse.nyc" target="_blank"><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">Pinkhouse</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        “In an era where every design studio aches to create enduring products described as "classic" and "iconic," New York's Pinkhouse diverges from the pack, opting instead for seasonal sprints.” -Core77
      </div>
      <div class="body">
        Pinkhouse is a product store and design studio that designs and produces athletically by operating like seasonal fashion as opposed to lifetime investment. Pinkhouse launched in March of 2015 with its debut collection Don’t Be Sad.  
      </div>
      <div class="body">
        Today, the attitude towards furniture making/ luxury-object making today is the exact opposite. People want to buy furniture that they think they will keep for decades and eventually pass down to their children. People are precious about their decisions and often punish their immediate desires for something that has more utility or something that is seen as more sensible. 
      </div>
      <img class="image" src="/media/pinkhouse/page_description_image_1.png" />
      <div class="header">
        The Buzzfeed, Reddit & Imgur of Product Design
      </div>
      <div class="body">
        This is why we made Pinkhouse. We wanted to create objects that adopted the kind of sensibilities that internet culture has. Objects that were fun, sharable and offered immediate gratification. Objects that help people to celebrate whimsical and uniquely crafted objects instead of suppressing their immediate desires and choosing something more reserved. So, in many ways, the collection is about humor, absurdity, spectacle, imagery. It is about producing the kind of happiness that Imgur, Reddit or Buzzfeed constantly offers. 
      </div>
      <br>
      <div class="header">
        <a href="http://www.core77.com/posts/33060/Making-a-MacBook-Air%E2%80%93Inspired-Luxury-Toilet-Seat" target="_blank">Core 77</a>, 
        <a href="http://www.selectism.com/2015/03/19/pinkhouse-design-studio/" target="_blank">Selectism</a>
      </div>
    </div>
  </div>

</div>
