<div class="project_banner" id="yinte_banner" data-color="black" data-bgcolor="#ddd" data-image="url('../media/yinte/banner_image.png')">

  <%# PROJECT BANNER HEADER %>
  <div class="project_banner_header">
    <img class="project_banner_header_logo" src="/media/yinte/banner_logo.png">
    <div class="project_banner_actions">
      <a href="http://www.instagram.com/yinte.global" target="_blank"><div class="project_banner_action">
          <i class="fa fa-instagram fa-2x"></i>
      </div></a>
      <a href="http://www.facebook.com/yinte.global" target="_blank"><div class="project_banner_action">
          <i class="fa fa-facebook fa-2x"></i>
      </div></a>
      <a href="http://wwww.yinte.global" target="_blank"><div class="project_banner_action">
          <i class="fa fa-link fa-2x"></i>
      </div></a>
    </div>
  </div>

  <%# PROJECT BANNER CONTENT %>
  <div class="project_banner_content">
    <div class="project_banner_content_text">
      <a href="/yinte">
        <div class="project_banner_content_text_main">
        Yinte is about fluid expression. You can finally be you-- whenever you want, wherever you want. Be flexible. Be fluid. Be international.
        </div>
        <br>
        <div class="project_banner_content_text_secondary">
          <u>Learn More</u>
        </div>
      </a>
    </div>
  </div> 

  <%# PROJECT BANNER IMAGE %>
  <div class="project_banner_image"></div> 

</div>
