<div class="page" id="yinte_page" data-color="black" data-bgcolor="#ccc">

  <%# HEAD %>
  <div class="page_title">Yinte</div>
  <div class="page_summary">
    Yinte is about fluid expression. You can finally be you-- whenever you want, wherever you want. Be flexible. Be fluid. Be international.
  </div>

  <%# IMAGES %>
  <div class="page_images">

    <div class="page_images_header">
      <div class="page_images_navigation">
        <i class="fa fa-angle-left fa next"></i>
        <i class="fa fa-angle-right fa prev"></i>
      </div>
      <div class="page_images_link">
        <a href="http://www.yinte.global">www.yinte.global</a>
      </div>
    </div>

    <div class="page_image_container">
      <img class="active page_image" src="/media/yinte/page_image_1.png"/>
      <img class="page_image" src="/media/yinte/page_image_2.png"/>
      <img class="page_image" src="/media/yinte/page_image_3.png"/>
      <img class="page_image" src="/media/yinte/page_image_4.png"/>
    </div>

  </div>

  <%# INFORMATION %>
  <div class="page_information">
    <div class="page_information_left">
      <img class="page_information_logo" src="/media/yinte/page_logo.png"/><!--
      --><a href="http://www.yinte.global" target="_blank"><div class="page_information_link">
        visit website &rarr;
      </div></a>
      <div class="page_information_details">
        <div class="title">Yinte</div>
        <div class="date">2015</div>
      </div>

    </div><!--
    --><div class="page_information_right">
      <div class="header">
        Join the Identity Economy
      </div>
      <div class="body">
        Imagine a world with Yinte technology. Upload yourself wearing Yinte and, through computer vision and a Yinte's mappable pattern, you become the advertising platform. Get paid for what you wear and who you are. Join Yinte. Join the identity economy.
      </div>
      <br>
      <img class="image" src="/media/yinte/page_description_image_1.png" />
      <div class="header">
        Wearable Digital Technology   
      </div>
      <div class="body">
        Yinte explores the future for wearable technology, but with a twist. Wearable technology, as we think of it today, is about wearing physical technology- gadgets. But as we shift into the social age, we have to rethink how our physical identities connects to our virtual ones.
      </div>
      <div class="body">
        Yinte uses computer vision and a simple pattern to produce wearable <em>digital</em> technology. As our identities become fluid in the social age, photos and images become integral in expressing our identities. Yinte relies on this phenomenon. By thinking about how the physical exists in the virtual, Yinte reimagines wearable technology.
      </div>
      <br>
      <div class="body">
        Yinte technology is still in development.
      </div>
    </div>
  </div>

</div>
