<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="about">
      <div>
      Hello Velocity is a creative agency based in New York. It was founded by <a href="http://www.instagram.com/hi.lukas">Lukas Bentel</a>, <a href="http://www.instagram.com/hi.js">JS Tan</a>, and <a href="http://www.instagram.com/hi.kw">Kevin Wiesner</a>.
      </div><br>

      <div class="bold">
      Hello Velocity builds brave, strange, and engaging experiences. We work to create singular, innovative, campaigns and fast moving brands.
      </div><br>

      <div>
      In addition to our client work, Hello Velocity operates as an autonomous practice, creating and publicizing experimental brands and companies. These projects, Bitelabs, McMass, and Yinte, among others, work across a variety of media and subject matter as speculation, commentary, and criticism. 
      </div>

    </div>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
