<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="banner"><div class="banner_text">Hello Velocity</div></div>

    <div class="projects">
      <% include partials/yinte_banner %>
      <% include partials/pinkhouse_banner %>
      <% include partials/bitelabs_banner %>
      <% include partials/mcmass_banner %>
      <% include partials/beastmade_banner %>
      <% include partials/genecoin_banner %>
    </div>

    <% include partials/footer %>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
