<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="current_wrapper">
      <div class="current">
        <a href="http://yami-ichi.biz/nyc/" target="_blank"><div class="current_event">
          <img class="" src="/media/current/current1.png">
        </div></a><!--
        --><a href="http://www.newinc.org/" target="_blank"><div class="current_event">
          <img class="" src="/media/current/current2.png">
        </div></a>
      </div>
    </div>

    <div class="projects">
      <% include partials/yinte_banner %>
      <% include partials/pinkhouse_banner %>
      <% include partials/bitelabs_banner %>
      <% include partials/mcmass_banner %>
      <% include partials/beastmade_banner %>
      <% include partials/genecoin_banner %>
    </div>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
