<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <style>
      body {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
      }
      .hv-title {
        margin-top: 120px;
        color: blue;
        font-family: Montserrat;
        font-size: 4.0em; 
        font-weight: 700;
        text-align: center;
      }
      .hv-image {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
        box-shadow: 4px 4px 9px #888;
      }
      .hv-text {
        margin-top: 12px;
        margin-bottom: 12px;
        color: blue;
        font-family: Montserrat;
        font-size: 2.4em; 
      }
      .hv-bold {
        font-weight: 700;
      }
      .hv-lowlight {
        color: #555;
        font-weight: 400;
      }
      .hv-text a {
        color: red;
        font-weight: 700;
      }
      .hv-signature {
        color: red;
      }
      hr {
        color: blue;
        height: 3px;
        border: none;
        background-color: blue;
      }
      @media only screen and (min-device-width : 320px ) and (max-device-width: 640px ) {
        .hv-title {
          margin-top: 80px;
          font-size: 32px;
        }
        .hv-text {
          font-size: 16px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .hv-image {
          width: 100%;
          margin-top: 12px;
          margin-bottom: 18px;
          box-shadow: 4px 4px 9px #888;
        }

      }
    </style>
  </head>
  <body>
    <% include partials/header %>

    <div class="hv-title">Our Year In Review</div>

    <div class="container"><img src="/media/newsletter/image1.png" class="hv-image"/></div>

    <div class="hv-text container">
      <p>One year ago, when we launched Hello Velocity, we weren’t sure what it would become. Back then, we were just three college kids who skipped classes to make viral art projects; in February of last year, one of our projects had received a cease and desist from McDonald’s. Thinking that their next step was to sue us, we hurriedly LLC’ed in hopes of protecting ourselves… And that is the story of how Hello Velocity came to be.</p><br>
      <p><span class="hv-bold">This month, Hello Velocity is 1 year old!</span> Not only did we manage to graduate from college, but we've grown into a creative marketing studio that combines art, marketing, and business to create engaging online experiences. </p>
    </div>

    <div class="container"><img src="/media/newsletter/image2.png" class="hv-image"/></div>

    <div class="hv-text container">
      <p>It’s just been a year, but we’ve come a long way. We went from <span class="hv-bold">eating PB&Js</span> to <span class="hv-bold">drinking soylent</span> <span class="hv-lowlight">(all hail the capitalism)</span>; From <span class="hv-bold">working out of the Sex Museum cafe</span> <span class="hv-lowlight">(free wifi btw)</span> to <span class="hv-bold">working out of New Inc</span>, the New Museum’s Art and Tech Incubator; From <span class="hv-bold">a collective of three artists</span>, to now <span class="hv-bold">a team of five professionals</span>.<p>
    </div>

    <div class="container"><img src="/media/newsletter/image3.png" class="hv-image"/></div>

    <div class="hv-text container">
      <p>As we’re entering the end of our first year, we want to maintain both a professional practice as well as an artistic one. On one hand, we work closely with creative, cutting-edge companies to help share their message throughout the web. On the other hand, we’re busy creating experimental research brands that explore new forms of expression and engagement.</p>
    </div>

    <div class="container"><img src="/media/newsletter/image4.png" class="hv-image"/></div>

    <div class="hv-text container">
      <p>We completed <a href="http://www.bitelabs.org" target="_blank">Bitelabs</a> <span class="hv-lowlight">(a company developing celebrity artisanal salami from in vitro meat)</span>, <a href="http://www.mcmass.com">The McMass Project</a> <span class="hv-lowlight">(an Indiegogo campaign seeking funding for a McDonald’s franchise for low-participation churches)</span>, and <a href="http://www.genecoin.me" target="_blank">Genecoin</a> <span class="hv-lowlight">(a startup creating Digital immortality by uploading your genome to the Bitcoin Blockchain)</span>, and we also made big strides with <a href="http://www.pinkhousenyc.us" target="_blank">Pinkhouse</a> and <a href="http://www.yinte.global" target="_blank">Yinte</a>, taking them both to the next level for 2016! </p><br>
      <p>Additionally, we've had the chance to show our work at events and exhibits such as <a href="http://www.babycastlesliving.com" target="_blank">Baby Castles</a>, <a href="http://hatchseries.wix.com/hatch-series#!home/mainPage" target="_blank">Hatch Series</a>, <a href="http://www.chinatownsoup.nyc" target="_blank">Chinatown Soup</a>, and <a href="http://yami-ichi.biz/nyc/" target="_blank">the Internet Yami-ichi</a>. And we also spoke at various places including RISD, BYU, and the College Art Association.</p>

    </div>

    <div class="container"><img src="/media/newsletter/image5.png" class="hv-image"/></div>

    <div class="hv-text container">
      <p>Over the past 6 months, we worked with a handful of exciting, creative companies, ranging from Michelin Star restaurant <a href="http://www.rougetomatenyc.com" target="_blank">Rouge Tomate</a>, to American K-Pop sensation <a href="http://www.exptheband.com" target="_blank">EXP The Band</a>. We have many more exciting collaborations lined up for this year so stay tuned!</p>
    </div>

    <div class="container"><hr></div>

    <div class="hv-text container">
      <p>Thanks for all your support! If you’re interested in collaborating, we’re always excited to work with new people, so reach out :)</p>
    </div>

    <div class="hv-text container hv-signature">
      <br>
      Feb 2016<br>
      <span class="hv-bold"><em>Hello Velocity</em></span><br>
      <p>Susan, Alicia, Kevin, JS, Lukas</p>
    </div>
    <br><br>

    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
